body {	background-color: #ffffff;
		margin: 30 30 30 150;
		font-family: 'san-serif';

}

.address {
	color: #ff0000;
	margin: 0 0 0 0;
}

.image {
	margin: 10 250 10 10;
	
}

h1 p {	font-size: '20px'; 
		color: #003366;
		}
		
h3 { color: #003366;
	
	
}

 p {
	margin: 0 0 0 30;
	
}